body{
    margin:0;
    padding: 0;
    background:url(https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2vO44JOlTBVezkeHXt92iu/780d73a363d4f56f965a1036b592cd66/r6e_reveal_trailer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-color: #ccc;
    box-sizing: border-box;
}
.section{
    min-height: 73.4vh; 
    max-height: auto;   
    border: 1px solid black;
    margin-top: 25%;
    background-color:rgb(46, 43, 43, 0.98);
    width: auto;
    height: auto;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } 
::-webkit-scrollbar-thumb {
    background: #888; 
  }
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/* Header properties */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0.5px solid #000;
    list-style: none;
    background-color: rgb(250, 216, 31);
    height: 80px;
    align-items: center;  
    margin-top: 0;
    margin-bottom: 100px;
}
.logo-brathuka{
    width: 100px;
    height: 100px
}
.menu li{
    transition: 0.4s;
}
.menu li:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.menu a {
    padding: 10px 10px 10px 10px;
    border: 2.5px rgb(0, 0, 0, 1) solid;
    font-family: 'Staatliches', cursive;
    color:#000;
    text-decoration: none; 
    font-size: 22px;
}
.menu a:hover{
    text-decoration: underline #fff;
    transition: 0.5s;
}
/* Boxes with informations of operators */
.intro-ops{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 1200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 15px;
    background: rgba( 0, 0, 0, 0.35 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.info-op{
    height:100% ;
    width: 650px;
    border-left: 1px solid rgba( 255, 255, 255, 0.18 );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
}
.info-op h1{
    margin: 0;
    margin-left: 15px;
    font-family: 'Staatliches', cursive;
    color: rgb(250, 216, 31);
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(250, 216, 31);
    margin-right: 15px;
}
.info-op p{
    margin-left: 15px;
    font-size: 16px;
    color: snow;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 2px black;
    background-color:yellow;
    height: 50px;
    align-items:center;
}

.imagem-op{
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
    flex-direction: column;
    width: 10%;
}
  
.imagem-op img{
    width:100%;
    height:100%;
    transition:.3s;
    border-radius:15px;
    object-fit: cover;
}

.imagem-op:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px rgb(255, 217, 0);
}
   
.imagem-op :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
}
  
.imagem-op h3{
    top:50%
}
  
.imagem-op:hover :not(img){
    opacity:1;
}
h2, h3{
    font-family: 'Open Sans Condensed', sans-serif;
}
h2, h3:hover{
    cursor: default;
}