body{
    margin:0;
    padding: 0;
    background:url(https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2vO44JOlTBVezkeHXt92iu/780d73a363d4f56f965a1036b592cd66/r6e_reveal_trailer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-color: #ccc;
}

.teste{
    width: 100px;
    height: 100px
}
.section{
    min-height: 73.4vh; 
    max-height: auto;   
    border: 1px solid black;
    margin-top: 25%;
    background-color:rgb(46, 43, 43, 0.98);
    width: auto;
    height: 800px;
}
.menuzin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border:1px solid royalblue;
    list-style: none;
    background-color: rgb(250, 216, 31);
    height: 80px;
    align-items: center;  
    margin-top: 0;
    margin-bottom: 0;
}
.menuzin li{
    transition: 0.4s;
}
.menuzin li:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.menuzin a {
    padding: 10px 10px 10px 10px;
    border: 2.5px rgb(0, 0, 0, 1) solid;
    font-family: 'Staatliches', cursive;
    color:#000;
    text-decoration: none; 
    font-size: 22px;
}
.menuzin a:hover{
    text-decoration: underline #fff;
    transition: 0.5s;
}
.intro-ops{
    border: 1px solid red;
    display: flex;
    flex-direction: row;

}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid 2px black;
    background-color:yellow;
    height: 50px;
    align-items:center;
}